[submodule "src/ConFormSimProject/Assets/ConFormSim/External/unity-inspector-help"]
	path = src/ConFormSimProject/Assets/ConFormSim/External/unity-inspector-help
	url = https://github.com/johnearnshaw/unity-inspector-help.git
