[submodule "src/ConFormSimProject/Assets/ConFormSim/External/unity-inspector-help"]
	path = src/ConFormSimProject/Assets/ConFormSim/External/unity-inspector-help
	url = https://github.com/johnearnshaw/unity-inspector-help.git
[submodule "src/ml-imagesynthesis"]
	path = src/ml-imagesynthesis
	url = https://bitbucket.org/Unity-Technologies/ml-imagesynthesis.git
